header {
    width: 100vw;
    top: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px whitesmoke solid;
    position: fixed;

    .logo {
        margin: 0 2rem;
        line-height: 0.5rem;

        h1 {
            letter-spacing: normal;
        }

        h2 {
            letter-spacing: .15rem;
        }
    }

    nav {
        ul {
            display: flex;
            align-items: center;
            list-style: none;

            li {
                margin: 0 1rem;
            }
        }
    }
}